<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>

    <appender name="FILE2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>neb-emails.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>archived/log_%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="neb.Notifier" additivity="true" level="info">
        <appender-ref ref="FILE2" />
    </logger>
</configuration>